/*body{
    background-color: ffeb3b;
  }*/
div{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    
}
.navbar-material .nav-wrapper .brand-logo img {
    height: 64px;
}
@media only screen and (max-width : 992px) {
    .parallax img {
      max-height: 170%; /* or a little bit higher */
    }
  }
  
  @media only screen and (min-width: 993px) {
    .parallax img {
      max-height: 190%; /* or higher percentages. It's up to your taste */
    }
  }
  .overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9; /* ie fallback png background image */
    z-index:9999;
    color:white;
}
.tinted-image {
    background: 
      /* top, transparent red, faked with gradient */ 
      linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.7)
      ),url(../../images/IMG_20180522_200927.jpg);
    
      background-size: contain;
      width: auto;
      height: auto;

  }